<div class="record" data-showd="1" data-showt="1" data-showr="1" data-showl="1" data-showp="1" data-showc="1">
	<div class="left">
		<div class="header">
			<span class="cardId">
				<%= cardId%>
			</span>
			<span class="recordChild">Date: <span class="date">
					<%= date%>
				</span></span>
			<span class="recordChild">Time spent: <span class="timespent">
					<%= timespent%>
				</span></span>
			<span class="recordChild">Rating: <span class="rating">
					<%= rating%>/5
				</span></span>
			<span class="recordChild">Language: <span class="language">
					<%= language%>
				</span></span>
			<span class="recordChild">Programmer: <span class="programmer">
					<%= programmer%>
				</span></span>
		</div>
		<span class="recordChild categoryLine smallerText">Categories:
			<span class="category colorTextCategory">
				<%=category %>
			</span>
		</span>
		</span></span>
		<div class="footer">
			<span class="description">
				<%= description%>
			</span>
		</div>
	</div>
	<div class="right">
		<button class="edit" onclick="editCard(this)">Edit</button>
		<button class="delete" onclick="deleteCard(this)">Del</button>
	</div>
</div>