<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<title>Programming Diary</title>
</head>

<body>
	<link rel="stylesheet" href="css/addform.css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
	</style>
	<script type="module" src="js/CustomElements.js"></script>
	<div class="main" id="main">
		<button id="addButton"
			onclick="if (document.getElementById('addRecord').style.display == 'none') { document.getElementById('addRecord').style.display = 'block' } else { document.getElementById('addRecord').style.display = 'none' }">
			<img src="img/PlusIcon.png" alt="Plus Sign">
		</button>
		<div class="addRecord" id="addRecord" style="display: none;">
			<h2 id="formHeader">Add record</h2>
			<form id="createCardForm" class="createForm" method="post" action="/">
				<input name="date" type="date" id="date" required>
				<input name="timespent" type="number" id="timespent" placeholder="Enter the Time spent (mins)" min="1" required>
				<input name="language" type="text" id="language" placeholder="Enter the Language" required>
				<input name="rating" type="range" id="rating" min="1" max="5"
					oninput="document.getElementById('rangeOutput').textContent = 'Rating: ' + this.value">
				<span id="rangeOutput">Rating: 3</span>
				<input name="description" class="secondLine" id="description" type="text" placeholder="Enter the description"
					required>
				<input class="secondLine" type="submit" value="Submit" id="submit">
			</form>
		</div>
		<div class="divider"></div>
		<% Objects.forEach(element=> {%>
			<card-custom description=<%=element.description %> date=<%=element.date %> spent=<%= element.timespent %> rating=
						<%=element.rating %> language=<%= element.language %> cardId=<%= element.id %> ></card-custom>
			<%}); %>
	</div>
	</div>
</body>

</html>